@model PROG7311POE.Models.User

<h2>Edit User</h2>

<form asp-action="Edit" asp-route-id="@Model.UserID" method="post">

    @* hold user id for db reference but do not show user *@
    <input type="hidden" asp-for="UserID" />

    <div class="form-group">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        @* built-in email error handling *@
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="ConfirmPassword">Confirm Password</label>
        <input id="confirmPassword" type="password" class="form-control" />
    </div>

    @* PASSWORDS MATCH ERROR DISPLAYED HERE  *@
    <div id="confirmPasswordError" class="text-danger"></div>

    <!-- Link fucntionto this form -->
    <script>
        document.forms[0].onsubmit = function () {
            validatePasswordMatch();
            return confirmPasswordError.innerText === "";
        };

        // Validate that the passwords match
        function validatePasswordMatch() {
            var password = document.getElementById('Password');
            var confirmPassword = document.getElementById('confirmPassword');
            var confirmPasswordError = document.getElementById('confirmPasswordError');

            // Check match
            if (password.value !== confirmPassword.value) {
                confirmPasswordError.innerText = "Passwords do not match";
                // Disables the Save button
                saveChangesButton.disabled = true;
            } else {
                confirmPasswordError.innerText = "";
                // Enables the Save button
                saveChangesButton.disabled = false;
            }
        }
    </script>

    <button type="submit" class="btn btn-primary">Save Changes</button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>
