@{

    ViewData["Title"] = "Login";
    Layout = null;

}

@model PROG7311POE.Models.User

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Register" method="post" onsubmit="return validatePasswordMatch()">
                <div class="card-body">

               <h2 class="text-center">Register</h2>

                <div class="form-group">
                    <label asp-for="Username" class="font-weight-bold">Username</label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Email" class="font-weight-bold">Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password" class="font-weight-bold">Password</label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="confirmPassword" class="font-weight-bold">Confirm Password</label>
                    <input id="confirmPassword" type="password" class="form-control" oninput="validatePasswordMatch()" />
                    <div id="confirmPasswordError" class="text-danger"></div>
                </div>

                <button type="submit" class="btn btn-primary">Save Changes</button>
                    <p class="mb-0">Already have an account? <a asp-action="Login" asp-controller="User" class="btn btn-link">Login</a></p>

                <script>
                    function validatePasswordMatch() {
                        var password = document.getElementById('Password');
                        var confirmPassword = document.getElementById('confirmPassword');
                        var confirmPasswordError = document.getElementById('confirmPasswordError');
                        var saveChangesButton = document.querySelector('[type="submit"]');

                        if (password.value !== confirmPassword.value) {
                            confirmPasswordError.innerText = "Passwords do not match";
                            saveChangesButton.disabled = true;
                        } else {
                            confirmPasswordError.innerText = "";
                            saveChangesButton.disabled = false;
                        }
                    }
                </script>
                </div>
            </form>
        </div>
    </div>
</div>
