@model PROG7311POE.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h1 style="margin-bottom: 20px;">Login</h1>

<form asp-action="Login" method="post">
    <div class="form-group">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-top: 20px; margin-bottom: 20px;">Login</button>
</form>

<div class="form-link">
    <a href="/Auth/Register">Don't have an account? Register</a>
</div>

@*Allows built in input validation *@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
